<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FEX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>FEXMac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>045FF14617891F3F007A338D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>045FF16317892196007A338D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04713BC81760C81900443B48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04A627AF177BEC7900E1760D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
