<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,133},{208,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,187}}</string>
                <key>sourceSize</key>
                <string>{208,187}</string>
            </dict>
            <key>earth_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{815,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{815,129}}</string>
                <key>sourceSize</key>
                <string>{815,129}</string>
            </dict>
            <key>earth_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{669,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{669,121}}</string>
                <key>sourceSize</key>
                <string>{669,121}</string>
            </dict>
            <key>earth_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,405},{443,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{443,113}}</string>
                <key>sourceSize</key>
                <string>{443,113}</string>
            </dict>
            <key>earth_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{313,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,119}}</string>
                <key>sourceSize</key>
                <string>{313,119}</string>
            </dict>
            <key>rock_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{780,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{780,101}}</string>
                <key>sourceSize</key>
                <string>{780,101}</string>
            </dict>
            <key>rock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{564,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,100}}</string>
                <key>sourceSize</key>
                <string>{564,100}</string>
            </dict>
            <key>rock_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,322},{319,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,81}}</string>
                <key>sourceSize</key>
                <string>{319,81}</string>
            </dict>
            <key>spike.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,2},{101,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,127}}</string>
                <key>sourceSize</key>
                <string>{101,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64e964487e4ea1b1805a82dcd1f69208$</string>
            <key>textureFileName</key>
            <string>scene-hd.png</string>
        </dict>
    </dict>
</plist>
