<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>angle_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,721},{100,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,109}}</string>
                <key>sourceSize</key>
                <string>{100,109}</string>
            </dict>
            <key>angle_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,797},{91,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,119}}</string>
                <key>sourceSize</key>
                <string>{91,119}</string>
            </dict>
            <key>bubble1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,644},{41,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,34}}</string>
                <key>sourceSize</key>
                <string>{41,34}</string>
            </dict>
            <key>bubble2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,610},{38,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,33}}</string>
                <key>sourceSize</key>
                <string>{38,33}</string>
            </dict>
            <key>bubble3.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,477},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>bubble4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2012,369},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>clown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1877,369},{134,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,107}}</string>
                <key>sourceSize</key>
                <string>{134,107}</string>
            </dict>
            <key>duck.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,477},{92,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,84}}</string>
                <key>sourceSize</key>
                <string>{92,84}</string>
            </dict>
            <key>fluffy_bear_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,438},{67,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,70}}</string>
                <key>sourceSize</key>
                <string>{67,70}</string>
            </dict>
            <key>fluffy_bear_lh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2016,152},{28,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,14}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>fluffy_bear_ll.png</key>
            <dict>
                <key>frame</key>
                <string>{{2033,25},{11,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,23}}</string>
                <key>sourceSize</key>
                <string>{11,23}</string>
            </dict>
            <key>fluffy_bear_rh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2016,167},{26,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,13}}</string>
                <key>sourceSize</key>
                <string>{26,13}</string>
            </dict>
            <key>fluffy_bear_rl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2033,1},{11,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,23}}</string>
                <key>sourceSize</key>
                <string>{11,23}</string>
            </dict>
            <key>hot_tube.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,570},{190,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,150}}</string>
                <key>sourceSize</key>
                <string>{190,150}</string>
            </dict>
            <key>left_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,372},{47,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,99}}</string>
                <key>sourceSize</key>
                <string>{47,99}</string>
            </dict>
            <key>left_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,609},{114,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,196}}</string>
                <key>sourceSize</key>
                <string>{114,196}</string>
            </dict>
            <key>left_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,438},{83,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,102}}</string>
                <key>sourceSize</key>
                <string>{83,102}</string>
            </dict>
            <key>ribbody.png</key>
            <dict>
                <key>frame</key>
                <string>{{1441,372},{261,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,271}}</string>
                <key>sourceSize</key>
                <string>{261,271}</string>
            </dict>
            <key>ribhead.png</key>
            <dict>
                <key>frame</key>
                <string>{{1877,1},{155,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,150}}</string>
                <key>sourceSize</key>
                <string>{155,150}</string>
            </dict>
            <key>right_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,472},{46,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,97}}</string>
                <key>sourceSize</key>
                <string>{46,97}</string>
            </dict>
            <key>right_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1877,152},{138,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,216}}</string>
                <key>sourceSize</key>
                <string>{138,216}</string>
            </dict>
            <key>right_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,806},{72,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,106}}</string>
                <key>sourceSize</key>
                <string>{72,106}</string>
            </dict>
            <key>string.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,806},{43,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,104}}</string>
                <key>sourceSize</key>
                <string>{43,104}</string>
            </dict>
            <key>toy_barsketball.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,509},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>toy_bear.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,721},{100,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,75}}</string>
                <key>sourceSize</key>
                <string>{100,75}</string>
            </dict>
            <key>toy_big_ball_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1},{479,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,436}}</string>
                <key>sourceSize</key>
                <string>{479,436}</string>
            </dict>
            <key>toy_big_ball_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,1},{479,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,436}}</string>
                <key>sourceSize</key>
                <string>{479,436}</string>
            </dict>
            <key>toy_big_ball_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{479,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,436}}</string>
                <key>sourceSize</key>
                <string>{479,436}</string>
            </dict>
            <key>toy_brick1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1441,1},{435,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,370}}</string>
                <key>sourceSize</key>
                <string>{435,370}</string>
            </dict>
            <key>toy_brick3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,508},{121,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,100}}</string>
                <key>sourceSize</key>
                <string>{121,100}</string>
            </dict>
            <key>toy_brick4.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,644},{75,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,183}}</string>
                <key>sourceSize</key>
                <string>{75,183}</string>
            </dict>
            <key>toy_diskship_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,831},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>toy_diskship_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,831},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>toy_football.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,560},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>toy_frog_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,438},{37,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,60}}</string>
                <key>sourceSize</key>
                <string>{37,60}</string>
            </dict>
            <key>toy_frog_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,719},{37,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,60}}</string>
                <key>sourceSize</key>
                <string>{37,60}</string>
            </dict>
            <key>toy_marble_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,438},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>toy_marble_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,679},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>toy_tesla.png</key>
            <dict>
                <key>frame</key>
                <string>{{1875,477},{50,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,92}}</string>
                <key>sourceSize</key>
                <string>{50,92}</string>
            </dict>
            <key>toy_toybox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,372},{124,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,135}}</string>
                <key>sourceSize</key>
                <string>{124,135}</string>
            </dict>
            <key>tyo_brick2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,917},{237,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,304}}</string>
                <key>sourceSize</key>
                <string>{237,304}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>toy_kingdom.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff2ab94f08f43980ac00f9e0bb3a9f98$</string>
            <key>textureFileName</key>
            <string>toy_kingdom.png</string>
        </dict>
    </dict>
</plist>
